@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border p-0 m-0;
  }
  html,
  body {
    @apply min-h-screen max-w-full font-sans text-gray-900 bg-gray-100;
  }
  a {
    @apply text-blue-600 no-underline;
  }
  a:hover {
    @apply underline;
  }
}
